@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.max-display {
  max-width: 1400px;
  margin: 0 auto;
}

.drop-shadow {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}

.bg-gradient {
  background: linear-gradient(180deg, 
    #101110 0%, 
    #262525 95%, 
    #DCDCDC 100%);
}

.bg-gradient2 {
  background: linear-gradient(to bottom, black, #101110);
  border: 1px solid #1F2937;
}


.special-background {
  background-image: url('/contact/contactBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .special-background { */
  /* background: var(--background);
  background-image: url('/contact/contactBackground.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh; */

  /* background: url('/contact/contactBackground.svg') no-repeat center center;
  background-size: cover; */
/* } */

/* .special-background {
  background: var(--background);
  background-image: url('/contact/contactBackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
} */

.shadow {
  box-shadow: 0 0 10px rgb(153, 191, 176);
}
/* .shadow {
  box-shadow: 0 0 10px rgb(161, 245, 212);
} */

/* .shadow {
  box-shadow: 0 10px 10px -5px rgb(161, 245, 212);
} */
