@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.max-display {
  max-width: 1400px;
  margin: 0 auto;
}

.drop-shadow {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}

.bg-gradient {
  background: linear-gradient(180deg, 
    #101110 0%, 
    #262525 95%, 
    #DCDCDC 100%);
}

.bg-gradient2 {
  background: linear-gradient(to bottom, black, #101110);
  border: 1px solid #1F2937;
}
.bg-gradient3 {
  background: linear-gradient(to bottom, #111827 , #1c2841 );
  border: 1px solid #475b77;
}
.bg-contact {
  background-color: rgba(3, 7, 18, 0.6); /* 0.8 es la opacidad, puedes ajustarla según tus necesidades */
}
.bg-poject-preview {
  /* background-image: url('/ConstructoraReal.webp'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-folder {
  background-image: url('/darkFolder.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

}

.special-background {
  background-image: url('/contact/bg-circle-contacts.svg');
  background-color: #000000;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-position: center;
}

.shadow {
  box-shadow: 0 0 10px #4B5563 ;
}


/* Ocultar la barra de desplazamiento pero permitir el desplazamiento */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

.truncate-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}